
.wrap1,
.wrap2,
.wrap3 {
    height: 20vh;
    border:solid 1px brown;
}
.box {
    width: 150px;
    height: 150px;
    border: solid 5px rgb(22, 153, 230);
}


.wrap1:hover .box {
    animation-name: moveTimes;
    animation-duration: 1s;
    animation-iteration-count: 3;
}
.wrap2:hover .box {
    animation-name: moveTimes;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.wrap3:hover .box {
    animation-name: changeColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes moveTimes {
    to {
        transform: translateX(500px);
        animation-duration: 0.5s;
    }
}
@keyframes changeColor {
    to {
        background-color: rgb(22, 153, 230) ;
    }
}

.wrap4 {
    height: 35vh;
    border:solid 1px brown;
}

.wrap4:hover .box {
    animation-name: moveTrajectory;
    animation-duration: 2s;
    animation-iteration-count: 3;
}

@keyframes moveTrajectory {
    25% {
        transform: translate(500px, 0);
    }
    50% {
        transform: translate(500px, 200px);
    }
    75% {
        transform: translate(0, 200px);
    }
    to {
        transform: translate(0, 0);
    }
}

.wrap5 {
    height: 35vh;
    border:solid 1px brown;
}

.wrap5:hover .box {
    animation-name: moveTrajectoryTwo;
    animation-duration: 4s;
    animation-iteration-count: 3;
}

@keyframes moveTrajectoryTwo {
    25% {
        transform: translate(500px, 0);
        width: 50px;
        height: 50px;
        background-color:rgb(22, 153, 230)
    }
    50% {
        transform: translate(500px, 200px);
        width: 50px;
        height: 50px;
        background-color:transparent;
    }
    75% {
        transform: translate(0, 200px);
        width: 50px;
        height: 50px;
        background-color:rgb(22, 153, 230)
    }
    to {
        transform: translate(0, 0);
    }
}

.wrapper1 {
    border:solid 1px brown;
    padding: 100px 300px;
}
.progress {
    height: 80px;
    background-color:rgb(236, 250, 252);
}
.progress__line {
    background-color:rgb(118, 186, 231);
    height: 100%;
    width: 0%;
}

.wrapper1:hover .progress__line {
    animation-name: progress;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.wrapper2 {
    border:solid 1px brown;
    padding: 100px 300px;
}
.wrapper2:hover .progress__line {
    animation-name: progress;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes progress {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.wrapper3 {
    height: 40vh;
    border:solid 1px brown;
}
.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:coral;
}

.wrapper3:hover .ball {
    animation-name: moveBall;
    animation-duration: 3s; 
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@keyframes moveBall {
    20% {
        transform: translate(100px, 330px);
    }
    30% {
        transform: translate(250px, 100px);
    }
    40% {
        transform: translate(400px, 330px);
    }
    50% {
        transform: translate(550px, 150px);
    }
    60% {
        transform: translate(700px, 330px);
    }
    70% {
        transform: translate(850px, 200px);
    }
    80% {
        transform: translate(1000px, 330px);
    }
    90% {
        transform: translate(1150px, 250px);
    }
    to {
        transform: translate(1300px, 330px);
    }
}

.wrapper4 {
    border:solid 1px brown;
    padding: 100px 300px;
}
.progress__hover {
    height: 80px;
    background-color:rgb(236, 250, 252);
}
.progress__hover-liner {
    background-color:rgb(118, 186, 231);
    height: 100%;
    width: 10%;
    animation-name: progressHover;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-play-state:paused;

}

.progress__hover:hover .progress__hover-liner {
    animation-play-state: running;
}

@keyframes progressHover {
    to {
        width: 100%;
    }
}
/* ********* Sprite ********* */
.wrapper5 {
    height: 20vh;
    border:solid 1px brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart {
    width: 100px;
    height: 100px;
    background-image: url(./heart-sprite.png);
}

.wrapper5:hover .heart {
    background-position: -2900px 0;
    transition: all 2s steps(29);
}


/*********************/
.wrapper6{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid 1px brown;
}
.wrapper6__content {
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgb(194, 188, 188);
    overflow: hidden;
}

.wrapper6__content:hover .wrapper6__right-box {
    transform: translateX(0);
    transition: 1s;
}

.wrapper6__content:hover .wrapper6__nav {
    transform: translateX(0);
    transition: 1s;
}


.wrapper6__right-box {
    width: 30%;
    height: 100%;
    box-shadow: 0 0 10px rgb(194, 188, 188);
    background-color:rgb(252, 252, 252);
    transform: translateX(-250px);
}

.wrapper6__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    padding: 20px 0;
    font-size: 24px;
}
.wrapper6__link:first-child {
    margin-top: 150px;
}
.wrapper6__link:hover {
    background-color:cornflowerblue;
    color:cornsilk;
    border-radius: 7px;
}


.wrapper6__nav {
    transform: translateX(120px);

}
.wrapper6__hamburger {
    width: 80px;
    height: 50px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
}

.wrapper6__hamburger-item {
    display: block;
    height: 4px;
    width: 60px;
    background-color: #000;
    border-radius: 2px;
    margin-bottom: 7px;
    margin-right: 10px;
}
.wrapper6__hamburger-item:last-child {
    width: 40px;
    margin-bottom: 0;
}


    .wrapper6__hamburger:hover {
    background-color:cornflowerblue;
    border-radius: 7px;
}
.wrapper6__hamburger:hover .wrapper6__hamburger-item {
    background-color: #fff;
}